/* Reset some default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Basic page layout */
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #ff6600;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 150px); /* Adjust if needed to account for header and footer heights */
    padding: 20px;
    text-align: center;
  }

.card {
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
  }
  
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  