http://localhost:8000/api/register

{
    "username": "Krrish",
    "email": "justbegintoday@gmail.com",
    "password": "codemaster",
    "password_confirmation": "codemaster"
}


http://localhost:8000/api/login

{
    "email": "justbegintoday@gmail.com",
    "password": "codemaster"
}
