    /* Add a gray background color to the nav bar */
    .nav {
      background-color: #373434;
      overflow: hidden;
      list-style-type: none; /* Remove the bullets */
      margin: 0; /* Remove browser default settings */
      padding: 0; /* Remove browser default settings */
    }

    /* Style the links inside the nav bar */
    .nav li a {
      float: left;
      color: #ffffff;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none; /* Remove the underline */
      font-size: 17px;
    }
    /*select category span */
    header nav ul li a.category span {
      padding-left:  40px;
    }
    /* Change the color of links on hover */
    .nav li a:hover {
      background-color: #ddd;
      color: black;
        }

    /*category style*/
    .nav li a.category {
          background-color: orange;
          color: #ffffff;
    }
    /* Add a color to the active/current link */
    .nav li a.active {
      background-color: #373434;
      color: orange;
    }